/*<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/lib.min.css" />
<head>
  
  <link rel='stylesheet prefetch' href='https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.5/angular-material.css'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="http://cdn.rawgit.com/angular/bower-material/v0.10.0/angular-material.js"></script>
<!--<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
--><link rel="stylesheet" href="http://cdn.rawgit.com/angular/bower-material/v0.10.0/angular-material.css"/>
<script src='http://rawgit.com/iVantage/angular-ivh-treeview/master/dist/ivh-treeview.js'></script>
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel='stylesheet prefetch' href='http://rawgit.com/iVantage/angular-ivh-treeview/master/dist/ivh-treeview.css'>
<link rel='stylesheet prefetch' href='http://rawgit.com/iVantage/angular-ivh-treeview/master/dist/ivh-treeview-theme-basic.css'>
<script src="/css/lib.min.js"></script>
 <script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
var stuff = [{
  label: 'Administrator',
  processusname : 'Administrator',
  children: [
    {label: 'Create User',
    processusname:'Create User'},
    {label: 'Edit password',
    processusname:'Edit password'},
    {label: 'Schelude',
    processusname:'Schelude'}
  ]
},{
  label: 'Patients',
 processusname :  'Patients',
  children: [
    {label: 'Appointment',
  processusname :'Appointment'
    },
    {label: 'Manage Patients',
    processusname : 'Manage Patients'}
  ]
}];

var app =  angular.module('cardDemo1', ['ngMaterial','ivh.treeview','ngRoute']);

app.controller('AppCtrl', function($scope, $mdSidenav,$http) {

   $http({
                    method: 'get',
                    url: '/users/getrolesuser',
                    data: {}
                }).success(function (result) {
               $scope.rolesuser = result;
                console.log($scope.rolesuser);
                });
$scope.rolesuser = "";
  $scope.showMobileMainHeader = true;
   $scope.openSideNavPanel = function() {
      $mdSidenav('left').open();
   };
   $scope.closeSideNavPanel = function() {
      $mdSidenav('left').close();
   };
});
  app.controller('dialogController', dialogController);
  app.config(function(ivhTreeviewOptionsProvider) {
 ivhTreeviewOptionsProvider.set({
   defaultSelectedState: false,
   validate: true,
   expandToDepth: -1,
   twistieCollapsedTpl: '<md-icon md-svg-icon="https://raw.githubusercontent.com/ankoh/mendeley-cache-client/master/app/assets/svg/material-icons/ic_chevron_right_black_24px.svg"></md-icon>',
   twistieExpandedTpl: '<md-icon md-svg-icon="https://raw.githubusercontent.com/ankoh/mendeley-cache-client/master/app/assets/svg/material-icons/ic_expand_more_black_24px.svg"></md-icon>',
   twistieLeafTpl: '<span style="cursor: default;">&#8192;&#8192;</span>'
 });
});

app.config(function($routeProvider) {
    $routeProvider
    
    .when("/Role", {
        templateUrl : "/etudiant.html",
        controller:"rolecontroller"
      
    })
    .when("/Taches", {
        templateUrl : "/affectation des tâches.html",
      controller:"tacheController"
    })
    .when("/User", {
        templateUrl : "/creation d'utilisateur.html",
       controller: "tacheController"
    })
    .when("/appointment", {
        templateUrl : "appointment.html",
        controller:'senrecord'
    });
});
app.controller('tacheController', function($scope,$http){
this.stuff = stuff;
 $http({
                    method: 'get',
                    url: '/users/getroles',
                    data: {}
                }).success(function (result) {
               $scope.getroles = result;
                console.log($scope.getroles);
                });

$scope.init = function(){
  
   $scope.submitForm = function(addsal) {
            
 $scope.sit = angular.copy($scope.demo.stuff);
angular.forEach($scope.sit, function(value, key){
for(key=0;key<=value.children.length;key++)
  {
    
  
    if(value.children[key].selected==true){
    
     var numerosalle =  {"rolename":$scope.rolename.libelle,"processusname":value.children[key].processusname,"processusvalue":value.children[key].selected};
    //console.log($scope.rolename);
   var config = {
                headers : {
                    'Content-Type': 'application/json'
                }
            }
    
    $http.post('/users/profil',numerosalle,config)
            .success(function (data) {
             $scope.rolename = data;
             console.log($scope.rolename);
              //  $scope.PostDataResponse = data;
          //  console.log(data)
    });
    //    console.log(value.children[key].processusname);


}


key++;
}



});
 
   } };/*end*/
/*register user*/
$scope.register = function(){
  
   $scope.submitForm = function(register) {

    var numerosalle =  {"rolename":$scope.rolename,"name":$scope.name,"lastname":$scope.lastname,"username":$scope.username,"email":$scope.email,"call":$scope.call,"password":$scope.password,"password2":$scope.password2};
   // console.log($scope.rolename);
   var config = {
                headers : {
                    'Content-Type': 'application/json'
                }
            }
    
    $http.post('/users/register',numerosalle,config)
            .success(function (data) {
              //  $scope.PostDataResponse = data;
          // console.log(data)
    });


   }};
});
app.controller('DemoCtrl', function($scope,$mdDialog,$http) {
 this.stuff = stuff;
  $scope.sit = [];
  
  $scope.roles = [
               { id: 1, names: 'Admins' },
               { id: 2, names: 'Docteurs' },
               { id: 3, names: 'Patients' }
            ];
var i=0;
var j=0;
 
  /*$scope.init = function(){
  
   $scope.submitForm = function(addsal) {
      
          
              
           
 //console.log(etudiantp)
        /*    $http.post('http://localhost:8080/Application/role/add/',numerosalle,config)
            .success(function (data) {
              //  $scope.PostDataResponse = data;
            console.log(data)
            
           // console.log(numerosalle)
            
            })
            .error(function (data) {
            });
            
 $scope.sit = angular.copy($scope.demo.stuff);
angular.forEach($scope.sit, function(value, key){
for(key=key;key<=value.children.length;key++)
  {
    
  
    if(value.children[key].selected==true){
    
     var numerosalle =  {"rolename":$scope.rolename.names,"processusname":value.children[key].processusname,"processusvalue":value.children[key].selected};
    console.log($scope.rolename);
   var config = {
                headers : {
                    'Content-Type': 'application/json'
                }
            }
    
    $http.post('/users/profil',numerosalle,config)
            .success(function (data) {
              //  $scope.PostDataResponse = data;
          //  console.log(data)
    });
    //    console.log(value.children[key].processusname);


}


key++;

}

});
 
   } }*/
   $scope.closeDialog = function() {
                        $mdDialog.hide();
                     }
});
/*create Role Controller*/
app.controller('rolecontroller', function($scope, $http) {

       // $scope.SendData = function () {
           // use $.param jQuery function to serialize data from JSON 
         $scope.submitForm = function(addrole) {
            var enrole =  {"code":$scope.code,"libelle":$scope.libelle};
        
            var config = {
                headers : {
                    'Content-Type': 'application/json'
                }
            }
            $http.post('/users/role',enrole,config)
            .success(function (data) {
              console.log(data);
            })
            .error(function (data) {
            });
        };

    })
    ;
/*en of create Role controller*/
function dialogController ($scope, $mdDialog) {
  
          $scope.showAlert = function(ev) {
           $mdDialog.show({
          controller:'AppCtrl',
           clickOutsideToClose: false,
          template:
        
          '<div ng-controller="DemoCtrl as demo">'+ 

              '<md-dialog  style="width: 990px;height:520px; margin:auto; >' +
                             '  <md-dialog-content>'+
                      ' <md-card>'+         
  
  '<md-toolbar style=" background-color: #fff;">'+
     '  <img  src="facebunkerlogin.jpg" style="width: 900px;height: 62px; margin-left:-2px; padding-right: "/>'+
    '<md-divider></md-divider>'+
       '<img  src="cogwheel.png" style="width: 50px;height: 32px; margin-left: 92%;margin-top: -6%; "/>'+
    
      '</md-toolbar >'+
     ' <form method="post" ng-submit="submitForm(addsal)">'+
      '<div layout="column" layout-align="left center">'+
    '<md-select placeholder="selectioner Un Role" ng-model="rolename"  style="min-width: 200px;">'+
  '<md-option ng-value="users" ng-repeat="users in roles">{{users.names}}</md-option>'+
    '</md-select>'+
    '<br>'+'{{user.name}}'+
    '<md-input-container>'+
                       '<md-select ng-model="rolename"  aria-label="time unit"  placeholder="selectioner Un Role">'+
              '<md-option ng-value="roles" ng-repeat="users in roles">{{roles.names}}</md-option>'+
            '</md-select>'+
         '</md-input-container>'+
     '<br>'+
      '<div ivh-treeview="demo.stuff" ng-model="processusname" >'+
     
         
'</div>'+'</div>'+
 
  '<br>'+
  '<br>'+
  '<br>'+
  '<br>'+
 '<md-divider></md-divider>'+         
   ' </md-dialog-content>' +
       '  <md-dialog-actions>' +
           '    <md-button  ng-click="init()" class="md-primary">' +
                             '      register' +
                            '</form>'+
                             '    </md-button>' +
                               '    <md-button ng-click="closeDialog()" class="md-primary">' +
                             '      Clear' +
                             '    </md-button>' +
                             '    <md-button ng-click="closeDialog()" class="md-primary">' +
                             '      Close' +
                             '    </md-button>' +
                             '  </md-dialog-actions> </md-card>'+ 
                            
      ' </div>',
     
      
            } );
            
            };
			
			
          
         } ;
  app.controller('senrecord', function($scope, $http) {
    $(document).ready(function(){
      var socket = io.connect('http://localhost:3000');
      $.get("/appointment",function(data1){
        if(data.error) {
          $("#message").empty().text(data.message);
        } else {
          $("#status").text(data1.message[0].UserPostContent);
        }
      });
      $("#addComment").click(function(event){
        var userName = $("#name").val();
        var userComment = $("#comment").val();
        if(userName === "" || userComment === "") {
          alert("Please fill the form.");
          return;
        }
        socket.emit('comment added',{user : userName, comment : userComment});
        socket.on('notify everyone',function(msg){
          notifyMe(msg.user,msg.comment);
        });
      });
    });
    function notifyMe(user,message) {
      // Let's check if the browser supports notifications
      if (!("Notification" in window)) {
      alert("This browser does not support desktop notification");
      }
      // Let's check if the user is okay to get some notification
      else if (Notification.permission === "granted") {
      // If it's okay let's create a notification
      var options = {
        body: message,
        icon :"icon2.png",
        dir : "ltr"
        
      };
      var notification = new Notification(user,options);
      }
      // Otherwise, we need to ask the user for permission
      // Note, Chrome does not implement the permission static property
      // So we have to check for NOT 'denied' instead of 'default'
      else if (Notification.permission !== 'denied') {
      Notification.requestPermission(function (permission) {
        // Whatever the user answers, we make sure we store the information
        if (!('permission' in Notification)) {
        Notification.permission = permission;
        }
        // If the user is okay, let's create a notification
        if (permission === "granted") {
        var options = {
        body: message,
        icon :"icon2.png",
        dir : "ltr"
        };
        var notification = new Notification(user,options);
        }
      });
      }
      // At last, if the user already denied any notification, and you
      // want to be respectful there is no need to bother them any more.
  }
  /*var socket = io.connect('http://localhost:3000/');
    socket.on('message', function(message) {
                alert('Le serveur a un message pour vous : ' + message);
            })

            $('#poke').click(function () {
                socket.emit('message', 'Salut serveur, ça va ?');
            })
  
  
  */
  
  });
  
</script>
  
<style type="text/css">
.flogin{
  width: 500px;
  height: 382px;
margin-left: 115px;  
}
.passwordlogo{
  width: 52px;
  height: 42px;
  margin-top: 15px;
}
.alert alert-danger{
  height: 25px;
}
.entetimg{
  height: 50px;
}
.logbutton{
  width: 50px;
  margin-left: 300px;
  margin: auto; 
}
.bg-extended {
  position: fixed;
  top: 0;
  left: 0;
 
  min-width: 100%;
  height: 100%;
  display: table;
}

.align-vertical-center {
  display: table-cell;
  vertical-align: middle;
}
.col-lg-121{
  width:100px;
  height:50px;
  
}
.desktop{
  background-color:  #33b5e5;
 }

.md-sidenav-left{
margin: auto;
padding: auto;


}

.entet{

}

 .flogin{
  width: 500px;
  height: 482px;
margin-left: 715px;  
}
.sidecolor{
background-color:  #33b5e5;

}
.bg-extended {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ddd;
  min-width: 100%;
  height: 100%;
  display: table;
}

.align-vertical-center {
  display: table-cell;
  vertical-align: middle;
}
</style>
</head>
<body ng-app="cardDemo1" style="background-color: #ddd" >
	<div class="container" ng-controller="AppCtrl">
     <!-- <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
              <li role="presentation"><a href="/">Dashboard</a></li>
              <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
              <li role="presentation"><a href="/users/login">Login</a></li>
              <li role="presentation"><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
        </nav>
      
      </div>
-->

    
          
          {{{body}}}
      
<div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
           
              
            {{else}}
              <li role="presentation"><a href="/users/login">Login</a></li>
            <p><input type="button" value="Embêter le serveur" id="poke" /></p>
            {{/if}}
          </ul>
        </nav>
      
      </div>
        
      </div>

     <!-- <footer class="footer">
        <p>&copy; 2015 LoginApp, Inc.</p>
      </footer>
-->
    </div> <!-- /container -->
</body>
</html>
